<div class="ddb-nav-footer ng-scope" common-footer="">
    {if empty($setting) || $setting['mode']==0}
    <a class="nav-item {if $cur_nave=='home'}active{/if}" href="{php echo $this->createMobileUrl('waprestlist', array(), true)}"><i class="fa fa-home"></i>
        <div class="nav-text">首页</div>
    </a>
    {else}
    <a class="nav-item {if $cur_nave=='detail'}active{/if}" href="{php echo $this->createMobileUrl('detail', array('id' => $setting['storeid']), true)}"><i class="fa fa-home"></i>
        <div class="nav-text">门店</div>
    </a>
    {/if}

    {if empty($setting) || $setting['mode']==0}
    <a class="nav-item ng-scope {if $cur_nave=='search'}active{/if}"  href="{php echo $this->createMobileUrl('search', array(), true)}"><i class="fa fa-search"></i>
        <div class="nav-text">搜索</div>
    </a>
    <a class="nav-item ng-scope {if $cur_nave=='collection'}active{/if}"  href="{php echo $this->createMobileUrl('collection', array(), true)}" ng-if="!current_shop.is_single">
        <i class="fa fa-star"></i>
        <div class="nav-text">收藏</div>
    </a>
    {/if}
    <a class="nav-item {if $cur_nave=='my'}active{/if}" href="{php echo $this->createMobileUrl('order', array(), true)}"><i class="fa fa-user"></i>
        <div class="nav-text">我的</div>
    </a>
</div>